::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=file]::file-selector-button {
    color: white;
    background: #1F2937;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
    text-transform: uppercase;
}

input[type=file]::file-selector-button:hover {
    background: #374151;
}

.dark input[type=file]::file-selector-button {
    color: white;
    background: #4B5563;
}

.dark input[type=file]::file-selector-button:hover {
    background: #6B7280;
}